.g-footer {
  background-color: $_bg_footer;
  color: $_color_footer;
  display: flex;
  justify-content: center;
  aling-content: center;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  &__nav {
      margin: 1rem;
    ul {
      align-content: center;
      justify-content: center;
    }
  }
}
