.m-alert {
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;

  &--info {
    background-color: #7AC8FF;
    color: #fff;
  }

  &--success {
    background-color: #78f087;
    color: #fff;
  }
  &--warning {
    background-color: #78f087;
    color: #000;
  }
  &--danger {
    background-color: #FF756D;
    color: #fff;
  }
}
